body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  width: 50%;
  background: #FFF;
  margin: 30px;
  border: 30px solid #808080;
  padding:30px;
  font-family: Arial;
  font-size: 2em;
  color: #000;
}
